@model Ob_P3_02.Models.TipoAlojamiento

@{ 
    ViewBag.Title = "Crear Tipo Alojamiento";
    
}

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre)
        @Html.ValidationMessageFor(m => m.Nombre)
    </p>
    <p>
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextBoxFor(m => m.Descripcion)
        @Html.ValidationMessageFor(m => m.Descripcion)
    </p>
    <p>
        <input type="submit" value="Crear" />
    </p>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}